Playbooks/AutomatedResponse/Module-Remediation/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workspace_location": {
            "type": "string",
            "minLength": 1,
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "Location of the Log Analytics Workspace"
            }
        }
    },
    "variables": {
        "api-azuresentinel-id": "azuresentinel-automated-response",
        "api-office365-id": "office365-automated-response",
        "api-teams-id": "teams-automated-response"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2018-07-01-preview",
            "name": "[variables('api-teams-id')]",
            "location": "[parameters('workspace_location')]",
            "properties": {
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('workspace_location'), '/managedApis/teams')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2018-07-01-preview",
            "name": "[variables('api-office365-id')]",
            "location": "[parameters('workspace_location')]",
            "properties": {
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('workspace_location'), '/managedApis/office365')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2018-07-01-preview",
            "name": "[variables('api-azuresentinel-id')]",
            "location": "[parameters('workspace_location')]",
            "properties": {
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('workspace_location'), '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "Module-Remediation",
            "location": "[parameters('workspace_location')]",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "Add_comment_to_incident_(V3)": {
                            "inputs": {
                                "body": {
                                    "incidentArmId": "@body('Get_incident')?['id']",
                                    "message": "<p>&nbsp;@{variables('response_user')} selected the following response: @{variables('response_action')}</p>"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Incidents/Comment"
                            },
                            "runAfter": {
                                "Send_an_email_(V2)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        },
                        "Compose": {
                            "inputs": "<h2>Incident details</h2><table style=\"font-size: 1.2em; text-align: left; border-collapse: collapse;  margin: 25px 0; box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);\"><tr style=\"background-color: #00a2ed; color: #ffffff;\"><th style=\"padding: 5px\">Incident ID</th><th style=\"padding: 5px\">Title</th><th style=\"padding: 5px\">Link</th></tr><tr style=\"border: 1px solid #dddddd;\"><td style=\"padding: 5px\">@{body('Get_incident')?['properties']?['incidentNumber']}</td><td style=\"padding: 5px\">@{body('Get_incident')?['properties']?['title']}</td><td style=\"padding: 5px\"><a href=\"@{body('Get_incident')?['properties']?['incidentUrl']}\">Link</a></td></tr></table><br/><strong>This notification automatically generated by Azure Logic App: Module-Remediation.</strong>",
                            "runAfter": {
                                "Get_incident": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose"
                        },
                        "Compose_adaptive_card": {
                            "inputs": {
                                "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                                "body": [
                                    {
                                        "size": "Large",
                                        "text": "🚨 Incident Requires Response",
                                        "type": "TextBlock",
                                        "weight": "Bolder",
                                        "wrap": true
                                    },
                                    {
                                        "size": "Medium",
                                        "text": "A Microsoft Sentinel incident has breached the risk threshold and requires a response. Select an action from the menu below.",
                                        "type": "TextBlock",
                                        "wrap": true
                                    },
                                    {
                                        "separator": true,
                                        "size": "Medium",
                                        "text": "**Incident details**\n\nIncident ID: @{body('Get_incident')?['properties']?['incidentNumber']}\n\nIncident Title: @{body('Get_incident')?['properties']?['title']}\n\nIncident Link: [Link](@{body('Get_incident')?['properties']?['incidentUrl']})\n\n**Affected User:** @{variables('targetAccount')} **Affected IP Address:** @{variables('target ip address')}",
                                        "type": "TextBlock",
                                        "wrap": true
                                    },
                                    {
                                        "separator": true,
                                        "size": "Small",
                                        "text": "**Response Actions**",
                                        "type": "TextBlock",
                                        "wrap": true
                                    },
                                    {
                                        "columns": [
                                            {
                                                "items": [
                                                    {
                                                        "actions": [
                                                            {
                                                                "style": "destructive",
                                                                "targetElements": [
                                                                    {
                                                                        "elementId": "responseMenu1",
                                                                        "isVisible": true
                                                                    }
                                                                ],
                                                                "title": "Lock Account",
                                                                "type": "Action.ToggleVisibility",
                                                                "wrap": true
                                                            },
                                                            {
                                                                "style": "destructive",
                                                                "targetElements": [
                                                                    {
                                                                        "elementId": "responseMenu2",
                                                                        "isVisible": true
                                                                    }
                                                                ],
                                                                "title": "Block IP Address",
                                                                "type": "Action.ToggleVisibility"
                                                            }
                                                        ],
                                                        "type": "ActionSet"
                                                    }
                                                ],
                                                "type": "Column",
                                                "width": "stretch"
                                            }
                                        ],
                                        "type": "ColumnSet"
                                    },
                                    {
                                        "columns": [
                                            {
                                                "items": [
                                                    {
                                                        "actions": [
                                                            {
                                                                "id": "ActionBoth",
                                                                "style": "destructive",
                                                                "targetElements": [
                                                                    {
                                                                        "elementId": "responseMenu3",
                                                                        "isVisible": true
                                                                    }
                                                                ],
                                                                "title": "Both",
                                                                "type": "Action.ToggleVisibility"
                                                            },
                                                            {
                                                                "data": {
                                                                    "response": "DoNothing"
                                                                },
                                                                "id": "Action.DoNothing",
                                                                "title": "Do Nothing",
                                                                "type": "Action.Submit"
                                                            }
                                                        ],
                                                        "type": "ActionSet"
                                                    }
                                                ],
                                                "type": "Column",
                                                "width": "stretch"
                                            }
                                        ],
                                        "type": "ColumnSet"
                                    },
                                    {
                                        "id": "responseMenu1",
                                        "isVisible": false,
                                        "items": [
                                            {
                                                "id": "actionWarning1",
                                                "size": "Medium",
                                                "text": "⚠️ **WARNING:** Clicking submit will initate a response action.",
                                                "type": "TextBlock",
                                                "wrap": true
                                            },
                                            {
                                                "columns": [
                                                    {
                                                        "items": [
                                                            {
                                                                "actions": [
                                                                    {
                                                                        "data": {
                                                                            "response": "lockAccount"
                                                                        },
                                                                        "title": "Submit",
                                                                        "type": "Action.Submit"
                                                                    }
                                                                ],
                                                                "horizontalAlignment": "Center",
                                                                "type": "ActionSet"
                                                            }
                                                        ],
                                                        "type": "Column",
                                                        "width": "stretch"
                                                    },
                                                    {
                                                        "items": [
                                                            {
                                                                "actions": [
                                                                    {
                                                                        "targetElements": [
                                                                            {
                                                                                "elementId": "responseMenu1",
                                                                                "isVisible": false
                                                                            }
                                                                        ],
                                                                        "title": "Cancel",
                                                                        "type": "Action.ToggleVisibility"
                                                                    }
                                                                ],
                                                                "horizontalAlignment": "Center",
                                                                "type": "ActionSet"
                                                            }
                                                        ],
                                                        "type": "Column",
                                                        "width": "stretch"
                                                    }
                                                ],
                                                "type": "ColumnSet"
                                            }
                                        ],
                                        "style": "emphasis",
                                        "type": "Container"
                                    },
                                    {
                                        "id": "responseMenu2",
                                        "isVisible": false,
                                        "items": [
                                            {
                                                "id": "actionWarning2",
                                                "size": "Medium",
                                                "text": "⚠️ **WARNING:** Clicking submit will initate a response action.",
                                                "type": "TextBlock",
                                                "wrap": true
                                            },
                                            {
                                                "columns": [
                                                    {
                                                        "items": [
                                                            {
                                                                "actions": [
                                                                    {
                                                                        "data": {
                                                                            "response": "blockIp"
                                                                        },
                                                                        "title": "Submit",
                                                                        "type": "Action.Submit"
                                                                    }
                                                                ],
                                                                "horizontalAlignment": "Center",
                                                                "type": "ActionSet"
                                                            }
                                                        ],
                                                        "type": "Column",
                                                        "width": "stretch"
                                                    },
                                                    {
                                                        "items": [
                                                            {
                                                                "actions": [
                                                                    {
                                                                        "targetElements": [
                                                                            {
                                                                                "elementId": "responseMenu2",
                                                                                "isVisible": false
                                                                            }
                                                                        ],
                                                                        "title": "Cancel",
                                                                        "type": "Action.ToggleVisibility"
                                                                    }
                                                                ],
                                                                "horizontalAlignment": "Center",
                                                                "type": "ActionSet"
                                                            }
                                                        ],
                                                        "type": "Column",
                                                        "width": "stretch"
                                                    }
                                                ],
                                                "type": "ColumnSet"
                                            }
                                        ],
                                        "style": "emphasis",
                                        "type": "Container"
                                    },
                                    {
                                        "id": "responseMenu3",
                                        "isVisible": false,
                                        "items": [
                                            {
                                                "id": "actionWarning3",
                                                "size": "Medium",
                                                "text": "⚠️ **WARNING:** Clicking submit will initate a response action.",
                                                "type": "TextBlock",
                                                "wrap": true
                                            },
                                            {
                                                "columns": [
                                                    {
                                                        "items": [
                                                            {
                                                                "actions": [
                                                                    {
                                                                        "data": {
                                                                            "response": "both"
                                                                        },
                                                                        "title": "Submit",
                                                                        "type": "Action.Submit"
                                                                    }
                                                                ],
                                                                "horizontalAlignment": "Center",
                                                                "type": "ActionSet"
                                                            }
                                                        ],
                                                        "type": "Column",
                                                        "width": "stretch"
                                                    },
                                                    {
                                                        "items": [
                                                            {
                                                                "actions": [
                                                                    {
                                                                        "targetElements": [
                                                                            {
                                                                                "elementId": "responseMenu3",
                                                                                "isVisible": false
                                                                            }
                                                                        ],
                                                                        "title": "Cancel",
                                                                        "type": "Action.ToggleVisibility"
                                                                    }
                                                                ],
                                                                "horizontalAlignment": "Center",
                                                                "type": "ActionSet"
                                                            }
                                                        ],
                                                        "type": "Column",
                                                        "width": "stretch"
                                                    }
                                                ],
                                                "type": "ColumnSet"
                                            }
                                        ],
                                        "style": "emphasis",
                                        "type": "Container"
                                    }
                                ],
                                "type": "AdaptiveCard",
                                "version": "1.3"
                            },
                            "runAfter": {
                                "Compose": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose"
                        },
                        "For_each": {
                            "actions": {
                                "Condition_-_if_account": {
                                    "actions": {
                                        "Set_variable": {
                                            "inputs": {
                                                "name": "targetAccount",
                                                "value": "@{items('For_each')?['properties']['accountName']}"
                                            },
                                            "runAfter": {},
                                            "type": "SetVariable"
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@items('For_each')?['kind']",
                                                    "Account"
                                                ]
                                            }
                                        ]
                                    },
                                    "runAfter": {},
                                    "type": "If"
                                },
                                "Condition_-_if_ip_address": {
                                    "actions": {
                                        "Set_variable_2": {
                                            "inputs": {
                                                "name": "target ip address",
                                                "value": "@{items('For_each')?['properties']['address']}"
                                            },
                                            "runAfter": {},
                                            "type": "SetVariable"
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@items('For_each')?['kind']",
                                                    "Ip"
                                                ]
                                            }
                                        ]
                                    },
                                    "runAfter": {
                                        "Condition_-_if_account": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "foreach": "@triggerBody()?['entitiesList']",
                            "runAfter": {
                                "Initialize_variable_-_target_ip_address": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Get_incident": {
                            "inputs": {
                                "body": {
                                    "incidentArmId": "@triggerBody()?['incidentArmId']"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Incidents"
                            },
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        },
                        "Initialize_variable": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "email recipients",
                                        "type": "string",
                                        "value": ""
                                    }
                                ]
                            },
                            "runAfter": {},
                            "type": "InitializeVariable"
                        },
                        "Initialize_variable_-_response_action": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "response_action",
                                        "type": "string",
                                        "value": "@{body('Post_adaptive_card_and_wait_for_a_response')?['data']['response']}"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Post_adaptive_card_and_wait_for_a_response": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_variable_-_response_user": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "response_user",
                                        "type": "string",
                                        "value": "@{body('Post_adaptive_card_and_wait_for_a_response')?['responder']['email']}"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_variable_-_response_action": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_variable_-_target_ip_address": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "target ip address",
                                        "type": "string"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_variable_-_target_user_account": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_variable_-_target_user_account": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "targetAccount",
                                        "type": "string"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Post_adaptive_card_and_wait_for_a_response": {
                            "inputs": {
                                "body": {
                                    "body": {
                                        "messageBody": "@{outputs('Compose_adaptive_card')}",
                                        "recipient": {
                                            "channelId": "",
                                            "groupId": ""
                                        },
                                        "updateMessage": "Thanks for your response!"
                                    },
                                    "notificationUrl": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                    }
                                },
                                "path": "/v1.0/teams/conversation/gatherinput/poster/Flow bot/location/@{encodeURIComponent('Channel')}/$subscriptions"
                            },
                            "runAfter": {
                                "Compose_adaptive_card": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnectionWebhook"
                        },
                        "Post_message_in_a_chat_or_channel": {
                            "inputs": {
                                "body": {
                                    "messageBody": "<p>@{variables('response_user')} has responded to incident @{body('Get_incident')?['properties']?['incidentNumber']} with the action: @{variables('response_action')}&nbsp;</p>",
                                    "recipient": {
                                        "channelId": "",
                                        "groupId": ""
                                    }
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/beta/teams/conversation/message/poster/@{encodeURIComponent('Flow bot')}/location/@{encodeURIComponent('Channel')}"
                            },
                            "runAfter": {
                                "Initialize_variable_-_response_user": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        },
                        "Send_an_email_(V2)": {
                            "inputs": {
                                "body": {
                                    "Body": "<p>@{variables('response_user')} has responded to incident @{body('Get_incident')?['properties']?['incidentNumber']} with the action: @{variables('response_action')}</p>",
                                    "Importance": "High",
                                    "Subject": "UPDATE: Sentinel Incident [@{body('Get_incident')?['properties']?['incidentNumber']}] - Remediation Required",
                                    "To": "@variables('email recipients')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            },
                            "runAfter": {
                                "Post_message_in_a_chat_or_channel": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        },
                        "Switch": {
                            "cases": {
                                "Case": {
                                    "actions": {},
                                    "case": "DoNothing"
                                },
                                "Case_2": {
                                    "actions": {
                                        "HTTP_-_Module-RevokeAADSessions": {
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@{triggerBody()?['incidentArmId']}",
                                                    "userName": "@{variables('targetAccount')}"
                                                },
                                                "method": "POST",
                                                "uri": ""
                                            },
                                            "runAfter": {
                                                "HTTP_-_call_Module-BlockIPAddress_2": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http"
                                        },
                                        "HTTP_-_call_Module-BlockIPAddress_2": {
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@{triggerBody()?['incidentArmId']}",
                                                    "ipAddresses": [
                                                        "@{variables('target ip address')}"
                                                    ]
                                                },
                                                "method": "POST",
                                                "uri": ""
                                            },
                                            "runAfter": {
                                                "HTTP_-_call_Module-DisableOnPremUser_2": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http"
                                        },
                                        "HTTP_-_call_Module-DisableOnPremUser_2": {
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@{triggerBody()?['incidentArmId']}",
                                                    "userName": "@{variables('targetAccount')}"
                                                },
                                                "method": "POST",
                                                "uri": ""
                                            },
                                            "runAfter": {},
                                            "type": "Http"
                                        }
                                    },
                                    "case": "both"
                                },
                                "Case_3": {
                                    "actions": {
                                        "HTTP_-_Call_Module-RevokeAADSessions": {
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@{triggerBody()?['incidentArmId']}",
                                                    "userName": "@{variables('targetAccount')}"
                                                },
                                                "method": "POST",
                                                "uri": ""
                                            },
                                            "runAfter": {
                                                "HTTP_-_call_Module-DisableOnPremUser": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http"
                                        },
                                        "HTTP_-_call_Module-DisableOnPremUser": {
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@{triggerBody()?['incidentArmId']}",
                                                    "userName": "@{variables('targetAccount')}"
                                                },
                                                "method": "POST",
                                                "uri": ""
                                            },
                                            "runAfter": {},
                                            "type": "Http"
                                        }
                                    },
                                    "case": "lockAccount"
                                },
                                "Case_4": {
                                    "actions": {
                                        "HTTP_-_Call_Module-BlockIPAddress": {
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@{triggerBody()?['incidentArmId']}",
                                                    "ipAddresses": [
                                                        "@{variables('target ip address')}"
                                                    ]
                                                },
                                                "method": "POST",
                                                "uri": ""
                                            },
                                            "runAfter": {},
                                            "type": "Http"
                                        }
                                    },
                                    "case": "blockIp"
                                }
                            },
                            "default": {
                                "actions": {}
                            },
                            "expression": "@body('Post_adaptive_card_and_wait_for_a_response')?['data']['response']",
                            "runAfter": {
                                "Add_comment_to_incident_(V3)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Switch"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {},
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "entitiesList": {
                                            "items": {
                                                "properties": {
                                                    "test": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "test"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "incidentArmId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "kind": "Http",
                            "type": "Request"
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('api-azuresentinel-id'))]",
                                "connectionName": "azuresentinel",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                            },
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('api-office365-id'))]",
                                "connectionName": "office365",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            },
                            "teams": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('api-teams-id'))]",
                                "connectionName": "teams",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/teams')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}